<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Contact Us | تماس با ما</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-b navbar-trans navbar-expand-md sticky-top bg-white" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="/" style="color: #0078ff;">Mehrshadina</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span style="background-color: #0078ff"></span>
        <span style="background-color: #0078ff"></span>
        <span style="background-color: #0078ff"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" style="color: #0078ff;" href="/">Home | خانه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" style="color: #0078ff;" href="/donate/">Donate | دونیت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" style="color: #0078ff;" href="/about/">About | درباره</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" style="color: #0078ff;" href="/contact/">Contact | ارتباط</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" style="color: #0078ff;" href="/blog/">Blog | بلاگ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--div class="intro intro-single route bg-image" style="background-image: url(/static/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">ارتباط با من</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Contact /</li>
          </ol>
        </div>
      </div>
    </div>
  </div-->

  <section class="blog-wrapper mt-4" id="contact">
    <div class="container text-right" style="direction: rtl;">
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <div class="article-content" style="direction: rtl;">
              <h1 class="article-title" style="color: black">ارتباط با من</h1>
              <p>
                اگر سوالات یا پیشنهاداتی دارید، خوشحال می‌شوم که از شما بشنوم. لطفاً فرم زیر را پر کنید و پیام خود را برای من ارسال کنید.
              </p>
              <p>
                دیگر راه های ارتباطی:<br>
                تلفن: 989106590826+<br>
                ایمیل: <a href="mailto:mehrshadinaa@gmail.com">mehrshadinaa@gmail.com</a>
              </p>
            </div>
            <div class="form-comments" style="direction: rtl;">
              <div class="title-box-2">
                <h3 class="text-right">
                  ارسال پیام
                </h3>
              </div>
              <form class="form-mf">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="name" type="text" class="form-control input-mf" id="inputName" placeholder="نام *" required>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="email" type="email" class="form-control input-mf" id="inputEmail1" placeholder="ایمیل *" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input name="subject" type="text" class="form-control input-mf" id="inputSubject" placeholder="موضوع پیام" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea id="textMessage" class="form-control input-mf" placeholder="پیام خود را اینجا بنویسید *" name="message" cols="45" rows="8" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="button button-a button-big button-rouded">ارسال پیام</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget-sidebar sidebar-search">
            <h5 class="sidebar-title">Search</h5>
            <div class="sidebar-content">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary btn-search" type="button">
                      <span class="ion-android-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="widget-sidebar">
            <h5 class="sidebar-title">پست های اخیر</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
              {% for post in recent_posts %}
                <li>
                  <a href="/blog/post/{{post.0}}/">{{ post.1 }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
          <div class="widget-sidebar">
            <h5 class="sidebar-title">آرشیو</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
              {% for archive in archives %}
                <li><a href="{% url 'post_archive' year=archive.year_month|date:'Y' month=archive.year_month|date:'m' %}">{{ archive.year_month|date:"F Y" }} ({{ archive.count }} posts)</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
          <div class="widget-sidebar widget-tags">
            <h5 class="sidebar-title">تگ‌ها</h5>
            <div class="sidebar-content">
              <ul>
                <li>
                  <a href="#">راه های راتباطی</a>
                </li>
                <li>
                  <a href="#">راه های تماس</a>
                </li>
                <li>
                  <a href="#">ارتباط</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="paralax-mf footer-paralax">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">
                &copy; Copyright <strong>مهرشادینا</strong>. All Rights Reserved
              </p>
              <div class="credits">
                Designed by <a href="/">Mehrshadina | مهرشادینا</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/popper/popper.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="/static/lib/counterup/jquery.counterup.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/static/lib/typed/typed.min.js"></script>
  <script src="/static/contactform/contactform.js"></script>
  <script src="/static/js/main.js"></script>

</body>
</html>
