<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mehrshadina | مهرشادینا</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" shrink-to-fit=no>
  <meta name="description" content="مهرشادینا - وب‌سایت شخصی مهرشاد حدادی. در اینجا با مطالب متنوع از زندگی شخصی، تحصیلات، تجربیات و چیزهایی که بر روی آن ها کار میکنم ، آشنا می‌شوید.">

  <meta content="" name="keywords">
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body id="page-top">
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="/">Mehrshadina</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/">Home | خانه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/donate/">Donate | دونیت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/about/">About | درباره</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/contact/">Contact | ارتباط</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/blog/">Blog | بلاگ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div id="home" class="intro route bg-image" style="background-image: url(/static/img/background.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">;) مهرشادینا ، ایناهاش</h1>
          <p class="intro-subtitle"><span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>

  <section id="service" class="services-mf mb-5">
    <!--div class="overlay-service"></div-->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h2 class="title-a">
              <br>
              خدمات
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-4">
          <a href="/project_order/">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-android-clipboard"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">سفارش پروژه</h2>
                <p class="s-description text-center">
                  شما میتونید با تکمیل فرم ؛ درخواست انجام پروژه دهید.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4">
          <a href="https://github.com/mehrshadina">
          <!--a href="/project"-->
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-code-working"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Projects | پروژه ها</h2>
                <p class="s-description text-center">
                    همه پروژه هایی که نوشتم
                    یا الان روی اون ها کار می‌کنم
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4">
          <a href="/tutoring/">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-social-youtube-outline"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Tutoring | تدریس خصوصی</h2>
                <p class="s-description text-center">
                  اگر به آموزش زبان برنامه نویسی ، لینوکس ، طراحی سایت نیاز دارید
                </p>
              </div>
            </div>
          </a>
        </div>
        <!--div class="w-100 d-none d-md-block"></div-->
        <div class="col-6 col-sm-4">
          <a href="/donate/">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-cash"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Support | حمایت</h2>
                <p class="s-description text-center">
                   دونیت یا
                   حمایت شما از من ، باعث خوشحالی و دلگرمی هست              
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4">
          <a href="/contact/">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-android-contacts"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Contact | راه های ارتباطی</h2>
                <p class="s-description text-center">
                 :راه های ارتباط با من همینجاست<br>
                 ... ایمییل ، جیمل ، توییتر ، اینستاگرام و 
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4">
          <a href="/about/">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-social-github"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">About | درباره</h2>
                <p class="s-description text-center">
                    مهرشادینا هستم ؛ توسعه دهنده خیلی خیلیییی<br>
                     !ماجرا جو ، پیش به سوی دنیای فردا
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <div class="section-counter paralax-mf bg-image" style="background-image: url(/static/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">پروژه های موفق</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">سابقه کار</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="36" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">تعداد مشتریان</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-star"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">جوایز</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              بلاگ
            </h3>
            <p class="subtitle-a">
              آخرین باگ های پست شده
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for post in posts|slice:":3" %}
        <div class="col-md-4">
          <a href="{% url 'post_detail' pk=post.pk %}">
            <div class="card card-blog">
              <div class="card-img">
                  <img src="{{ post.image }}" alt="" class="img-fluid" style="width: 100%; height: 190px; object-fit: cover;">
              </div>
              <div class="card-body">
                  <div class="card-category-box">
                      <div class="card-category">
                          <h6 class="category">{{ post.category }}</h6>
                      </div>
                  </div>
                  <h3 class="card-title text-right">{{ post.title }}</h3>
                  <p class="card-description text-right" style="direction: rtl; -webkit-line-clamp: 2;max-height: 3em; /* حداکثر ارتفاع متن به تعداد خطوط مورد نظر */
                      overflow: hidden;
                      text-overflow: ellipsis; /* افکت پوینتی (...) در صورت برش متن */
                      display: -webkit-box;
                      -webkit-line-clamp: 2; /* تعداد خطوط مورد نظر */
                      -webkit-box-orient: vertical;">
                      {{ post.content }}
                  </p>
              </div>
              <div class="card-footer text-right" style="direction: rtl;">
                  <div class="post-author">
                      <a href="/about/">
                          <img src="static/img/myself.jpg" alt="" class="avatar rounded-circle">
                          <span class="author">{{ post.author }}</span>
                      </a>
                  </div>
                  <div class="post-date mr-2" style="direction: ltr;">
                      <span class="bi bi-clock "></span> {{ post.time_required }} min
                  </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="paralax-mf footer-paralax">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">
                &copy; Copyright <strong>مهرشادینا</strong>. All Rights Reserved
              </p>
              <div class="credits">
                Designed by <a href="/">Mehrshadina | مهرشادینا</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/popper/popper.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="/static/lib/counterup/jquery.counterup.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/typed/typed.min.js"></script>
  <script src="/static/contactform/contactform.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
