asgiref==3.7.2
beautifulsoup4==4.12.2
bs4==0.0.1
Django==4.2.5
django-jalali==6.0.1
django-jalali-date==1.0.2
jdatetime==4.1.1
persiantools==3.0.1
soupsieve==2.4
sqlparse==0.4.4
typing_extensions==4.9.0
